* {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
}

@font-face {
  font-family: Comfortaa;
  src: url(comfortaa-regular.ttf);
}

body {
  margin: 0; padding: 0;
  height: 100vh;
  background: url('bg.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Comfortaa', cursive;
  overflow: hidden;
}

#menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  position: fixed;
  background-color: #4c4c4c4c;
  overflow: hidden;
  user-select: text;
  padding: 1.041666667vw;
  border-radius: 1.041666667vw;
  backdrop-filter: blur(7px);
}

#grid {
  display: grid;
  grid-auto-columns: 64.7px;
  grid-auto-rows: 64.7px;
  grid-row-gap: 0.833333333vw;
  grid-column-gap: 1.666666667vw;
  user-select: text;
}

.item {
  display: flex;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  background-color: #4c4c4c4f;
  width: 64.7px;
  height: 64.7px;
  border-radius: 20px;
  position: relative;
  animation: expand .3s ease-in-out;
}

#add {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  animation: expand .4s ease-in-out;	
}

#add img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.7;
}

.remove-btn {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  animation: expand .4s ease-in-out;
}

.remove-btn img {
  padding: 3px;
}

.edit-btn {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  animation: expand .4s ease-in-out;
}

#side-menu {
  position: absolute;
  top: 0;
  right: -120%;
  width: 20%;
  height: 100vh;
  background: #4c4c4c4c;
  user-select: none;
  overflow-y: auto;
  font-family: 'Comfortaa', cursive;
  z-index: 98;
  transition: .4s ease;
  backdrop-filter: blur(7px); 
}

#icon {
  position: absolute;
  top: 0.416666667vw;
  right: 0.416666667vw;
  width: 1.666666667vw;
  height: 1.666666667vw;
  z-index: 99;
  cursor: pointer;
}

#weather {
  position: absolute;
  top: 7.8125vw;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1.041666667vw;
  user-select: none;
}

#date {
  position: absolute;
  top: 4.53125vw;
  left: 30%;
  font-size: 0.9375vw;
  font-weight: bold;
  margin: 0;
}

#dialog {
  position: absolute;
  top: 3.90625vw;
  left: 50%;
  transform: translateX(-50%);
  width: 16.666666667vw;
  height: 7vw;
  color: white;
  background-color: #4c4c4c4f;
  backdrop-filter: blur(10px);
  border-color: white;
  border-radius: 1.041666667vw;
  display: none; 
  animation: expand .4s ease-in-out;	
}

#input-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 16.666666667vw;
  height: 2.5vw;
}

#input-search {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 12.8125vw;
  height: 100%;
  overflow: hidden;
  animation: expand .4s ease-in-out;
}

#input-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1.09375vw;
  background: none;
  border: none;
  outline: none;
  padding-left: 1.541666667vw;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
  font: 0.9375vw Comfortaa, cursive;
  color: white;
}

#input-search img {
  position: absolute;
  top: 0.625vw;
  left: -2px;
  width: 1.109375vw;
  height: 1.109375vw;
  user-select: none;
}

#line {
  position: absolute;
  top: 1.510416667vw;
  left: 0px;
  width: 13.645833333vw;
  height: 0.260416667vw;
  border-bottom: 3px solid white;
  transform: translateX(-101%);
  transition: all .4s ease;
}

#input-name:focus + #line {
  transform: translateX(-0%);
}

#input-image {
  position: absolute;
  top: 2.604166667vw;
  left: 0;
  display: none;
}

#img-btn {
  position: absolute;
  top: 2.604166667vw;
  left: 50%;
  transform: translateX(-50%);
  width: 6.5vw;
  height: 1.302083333vw;
  border-radius: 0.390625vw;
}

#file-name {
  position: absolute;
  top: 3.385416667vw;
  left: 50%;
  transform: translateX(-50%);
  font: 0.729166667vw bold Comfortaa, cursive;
  color: white;
}

#confirm {
  position: absolute;
  bottom: 0.416666667vw;
  right: 0.416666667vw;
}

.dialog-btn {
  font: 0.729166667vw bold Comfortaa, cursive;
  color: inherit;
  background: none;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-btn {
  font-size: 0.9375vw;	
}

a {
  width: 4.2em;
  text-align: center;
}

h2 {
  position: absolute;
  top: 1.666666667vw;
  left: 15%;
  font-size: 2.8125vw;
  font-weight: bold;
  margin: 0;
}

.item img {
  object-fit: contain;
  max-height: 75%;
  max-width: 75%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  user-select: none;
}

.theme-switcher {
  position: absolute;
  top: 13.020833333vw;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2.083333333vw;
  user-select: none;
}

#switch {
  position: relative;
  top: -3.90625vw;
  left: 6.197916667vw;
  transform: translateX(-50%);
  width: 3.125vw;
  height: 1.770833333vw;
  display: inline-block;
  user-select: none;
}

#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #4c4c4c4f;
  border: 1px solid #4c4c4c;
  border-radius: 1.875vw;
  transition: .4s;
  user-select: none;
}

.slider::before {
  content: '';
  position: absolute;
  height: 1.25vw;
  width: 1.25vw;
  left: 0.208333333vw;
  bottom: 0.15625vw;
  background-color: #4c4c4c4f;
  border: 1px solid #4c4c4c;
  border-radius: 50%;
  transition: .4s;
  user-select: none;
}

input:checked + .slider {
  background-color: #4c4c4c4a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4c4c4c4a;
}

input:checked + .slider:before {
  transform: translateX(1.25vw);
}

.theme-option {
  position: relative;
  top: 0px;
  width: 1.875vw;
  height: 2.083333333vw;
  font-size: 1.0546875vw;
  font-weight: bold;
  user-select: none;
  margin: 0;
}

.light {
  left: 0.520833333vw;
}

.dark {
  left: 8.854166667vw;
  top: -2.083333333vw;
}

.bg-changer {
  position: relative;
  top: 15.625vw;
  width: 100%;
  height: 75px;
}

#bg-frame {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 120px;
  height: 67.5px;
  user-select: none;
  cursor: pointer;
}

#bg-info {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  user-select: none;
  z-index: 0;
}

#image-selector {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 120px;
  height: 67.5px;
  border: none;
  outline: none;
  display: none;
}

#clear-button {
  position: absolute;
  top: 22px;
  left: 147px;
  padding: 5px 10px;
  border: 1px solid #4c4c4c;
  color: #4c4c4c;
  background: none;
  outline: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
  transition: all .2s;
}

#clear-button:active {
	background-color: rgba(76, 76, 76, .3);
}

.grid-changer {
	position: relative;
	top: 16.40625vw;
	width: 100%;
	height: 4.166666667vw;
}

.input-component {
	position: absolute;
	top: 0.260416667vw;
	left: 5.208333333vw;
	width: 7.25vw;
	height: 2.354166667vw;
	font-size: 0.9375vw;
	overflow: hidden;
	text-align: center;
}

.row {
  top: 2.083333333vw;
}

.remove-button {
	position: relative;
	top: 0;
	left: 0;
	margin: 0; padding: 0;
	padding-right: 4px;
	border-top: 1px solid #4c4c4c;
	border-left: 1px solid #4c4c4c;
	border-bottom: 1px solid #4c4c4c;
	border-right: none;
	border-radius: 0.3125vw;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	outline: none;
	background: none;
	color: #4c4c4c;
	font-size: 0.9375vw;
	font-weight: bold;
	width: 1.354166667vw;
	height: 1.354166667vw;
	cursor: pointer;
}

.grid-input {
	position: relative;
	top: 0;
	left: -0.520833333vw;
	margin: 0; padding: 0;
	border: 1px solid #4c4c4c;
	outline: none;
	background: none;
	color: #4c4c4c;
	width: 2.8125vw;
	height: 1.205vw;
	font-size: 0.9375vw;
	font-weight: bold;
	text-align: center;
	cursor: default;
	transition: all .2s;
}

.add-button {
	position: relative;
	top: 0;
	left: -1.041666667vw;
	margin: 0; padding: 0;
	padding-left: 0.3125vw;
	border-top: 1px solid #4c4c4c;
	border-right: 1px solid #4c4c4c;
	border-bottom: 1px solid #4c4c4c;
	border-left: none;
	border-radius: 0.3125vw;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	outline: none;
	background: none;
	color: #4c4c4c;
	font-size: 0.9375vw;
	font-weight: bold;
	width: 1.354166667vw;
	height: 1.354166667vw;
	cursor: pointer;
	transition: all .2s;
}

.add-button:active, .remove-button:active {
	background-color: rgba(76, 76, 76, .3);
}

#column-option {
  position: relative;
  top: 0.520833333vw;
  left: 0.520833333vw;
  width: 6.510416667vw;
  height: 1.354166667vw;
  font-size: 0.9375vw;
  font-weight: bold;
  user-select: none;
  margin: 0;
}

#row-option {
  position: relative;
  top: 0.885416667vw;
  left: 0.520833333vw;
  width: 6.510416667vw;
  height: 1.354166667vw;
  font-size: 0.9375vw;
  font-weight: bold;
  user-select: none;
  margin: 0;
}

#edit-mode {
  position: absolute;
  top: 26.041666667vw;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.260416667vw 0.520833333vw;
  border: 1px solid #4c4c4c;
  color: #4c4c4c;
  font-size: 0.703125vw;
  background: none;
  outline: none;
  border-radius: 0.416666667vw;
  text-transform: uppercase;
  width: 34.628035%;
  height: 1.40625vw;
  line-height: 0.703125vw;
  cursor: pointer;
  transition: all .2s;
}

#clear-info {
  position: absolute;
  top: 27.96875vw;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.260416667vw 0.520833333vw;
  border: 1px solid #4c4c4c;
  color: #4c4c4c;
  font-size: 0.703125vw;
  background: none;
  outline: none;
  border-radius: 0.416666667vw;
  text-transform: uppercase;
  width: 34.628035%;
  height: 1.40625vw;
  line-height: 0.703125vw;
  cursor: pointer;
  transition: all .2s;
}

#clear-info:active {
  background-color: rgba(76, 76, 76, .3);
}

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
  }
}

@media screen and (max-width: 1080px) {
  #side-menu {
    width: 25%;
  }
}
